{% extends 'hospital/admin/base.html' %}

{% block title %} Change Password {% endblock %}

{% block page_location %} Change Password {% endblock %}

{% block main_content %}

<div class="col-lg-8 col-xs-12 col-sm-12 col-md-12 mx-auto border border-light rounded shadow h-100">
    <form action="/admin/passwordchange/" method="post" class="p-3">
        {% csrf_token %}

        <p class="text-center text-secondary fs-3 fw-bold border-bottom pb-3 mb-4">Change Password</p>

        <div class="row mb-4">
            <label for="{{form.old_password.id_for_label}}" class="col-sm-4 ps-5">Old Password</label>
            <div class="col-sm-7">
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>
        </div>
        <div class="row mb-4">
            <label for="{{form.new_password1.id_for_label}}" class="col-sm-4 ps-5">New Password</label>
            <div class="col-sm-7">
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>
        </div>
        <div class="row mb-4">
            <label for="{{form.new_password2.id_for_label}}" class="col-sm-4 ps-5">Confirm New Password</label>
            <div class="col-sm-7">
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success col-6 py-2">Change Password</button>
        </div>

    </form>

</div>

{% endblock %}