{% extends 'hospital/receptionist/base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block page_location %} Dashboard {% endblock %}

{% block main_content %}


<div class="col-lg-8 h-100 mx-auto">
    <div class="shadow mt-5 p-3">
        <p class="text-center text-secondary fs-4 fw-bold border-bottom pb-3">Today Appointment List</p>

        <!-- Appointment for today -->
        <table class="table table-light table-bordered" id="receptionist" width='100%'>
            <thead class="table-dark text-center align-middle">
                <tr>
                    <th>Sr. No.</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Department</th>
                    <th>Mobile No.</th>
                    <th>Appointment No.</th>
                    <th>Fees</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                {% for field in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{field.full_name}}</td>
                    <td>{{field.doctor_name}}</td>
                    <td>{{field.department}}</td>
                    <td>{{field.mobile}}</td>
                    <td>{{field.appointment_no}}</td>
                    <td class="text-nowrap">&#8377; {{field.fees}}</td>
                    <td>{% if field.is_pay == False %}
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#payment_confirm{{field.id}}">
                            Pending
                        </button>

                        {% else %}
                        <span class="btn btn-warning text-center">Received</span>
                        {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="payment_confirm{{field.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center fw-bold fs-5">Do you want to confirm payment for patient "{{field.full_name}}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/receptionist/payment_confirmation/appointment_id={{field.id}}" type="button" class="btn btn-success">Confirm Payment</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#receptionist').DataTable({
            "dom": '<"top">rt<"bottom"p><"clear">',
            "ordering": false,
            "scrollX": true,
            "pageLength": 5,
        });
    });
</script>

{% endblock %}